body {
  margin: 0;
}

* {
  touch-action: manipulation;
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

body {overflow: hidden;}